<% layout("/layouts/boilerplate") %>
<br>

<div class="row mt-3">
   
    <div class="col-6 offset-3">
        <h1>SignUp On WanderLust</h1>
        <form action="/signup" method="post" novalidate class="needs-validation">
        <div class="mb-3">
                <label for="username" class="form-label">Username</label> 
                <input type="text" id="username" name="username" class="form-control" required>
                  
          <div class="valid-feedback">
                    Username looks good!
          </div>
          <div class="invalid-feedback">
            Not A Valid Username
          </div>
          <label for="email" class="form-label">Email</label> 
                <input type="text" id="email" name="email" class="form-control" required>
                  
          <div class="valid-feedback">
                    Email looks good!
          </div>
         
          <label for="password" class="form-label">Password</label> 
                <input type="password" id="password" name="password" class="form-control" required>
                  
          <div class="valid-feedback">
                    Password Strength looks good!
          </div>
          <div class="invalid-feedback">
            Not A Valid  Password 
          </div>
            </div>
            <button class="btn btn-danger">Register</button>
        </form>
    </div>
</div>